*{
    font-family:futura ;
}
body {
    background-color:#383E40;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    
   
    
}

.content{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    
    font-size:50px;
    font-weight: bolder;
    text-align: center;
    color: #D3D0CB;
    padding: 0;
    margin-bottom:0;
   
    
}

.userInput{
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: #D3D0CB;
    box-shadow: 0 6px 6px #212425;
    color: #383E40;
}
.explain{
    width: min(100vw, 450px);
    width: 445px;
    height:  125px;
    background:#57886C;
    color:#D3D0CB;
    font-size: 1rem;
    min-height: 140px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 6px #212425;
    vertical-align: middle;
    text-align: center;
    padding: 0px 25px 0px 25px;
  }



button{
    cursor: pointer;
    border-radius: 15px;
    border: none;
    font-family: futura;
    font-weight: bold;
    padding:10px 20px 10px 20px;
    background-color: #57886C;
    color: #D3D0CB;
    box-shadow:0 6px 6px #383E40;
}

input{
    cursor:default;
    border: none;
    background-color: #b1b1b1;
    color: #383E40;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

#intructions{
    font-size: 1.25rem;
}

.explainText{
    font-size: 1.25rem;
}