body{
    background-color: #F2EFE9;
    color: #594D3E;
    font-family: Rockwell;
   
}
main{
    background-color:#BFBBB4;
    height:97vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    background-color: #D9D7CC;
    border-radius: 10px;
    padding: 20px;

}

#logo{
    text-align: center;
    font-size: 50px;
    
}

#name{
    text-align: center;
}
#number{
    
    display: block;
    align-items: center;
    padding: 4px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    
    
}

#convert-btn{
    width: 50%;
    padding: 0 6px;
    margin-top:20px;
    align-items: center;
}

#output{
    background-color: black;
    height: 50px;
    width: 186px;
    border-style: solid;
    border-color: white;
    background-color:#D9D7CC;
    border-radius: 10px;
    padding: 20px;
    margin-top:20px;
}